site_name: MUFFIN
nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage/usage.md
    - Configuration profile: config.md
    - Troubleshooting: troubleshooting.md
    
theme: 
  name: material
  highlightjs: true
  hljs_languages:
      - yaml
      - rust
      - bash
      - shell
      - nextflow
  features:
    - navigation.tabs
  palette:
    scheme: default
    primary: deep purple
    accent: deep orange
  font:
    text: Roboto
    code: Roboto Mono
